<hr/>
<footer>
  <div class="row">
    <div class="col-md-6" align="left">
      <h6>This set of lessons is part of the <a href="https://github.com/easyreporting/fmri_reporting">easy fMRI reporting</a> project.

      This course is based on the lesson template used in <a href="{{ site.nhw_site }}"">Neurohackweek</a> and derived from <a href="{{ site.dc_site }}">Data Carpentry</a> and <a href="{{ site.swc_site }}">Software Carpentry</a> templates.

    </h6>
    </div>
    <div class="col-md-6" align="right">
      <h4>
	<a href="{{ site.repo }}/">Source</a>
	/
	<a href="{{ site.repo }}/blob/master/CONTRIBUTING.md">Contributing</a>
	/
	<a href="mailto:{{ site.email }}">Contact</a>
      </h4>
    </div>
  </div>
</footer>
